/* paper effet stolen from http://beemuse.com/paper */

.paper
{
    position:relative;       
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.4) inset;
    border: 1px solid white;
}

.paper:before, .paper:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.8);
    box-shadow:0 0 5px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
 }
.paper:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

/* end of effect */

body {
    font-family: 'Source Serif Pro', Georgia, serif;
    background: url('splendide-azur.jpg');
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    align-items: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

code {
    font-size: 0.8em;
}

#header {
    margin: 20px;
    padding: 30px;
    background: white;
    text-align: center;
    max-width: 519px;
}

#main {
    background: white;
    margin: 20px;
    padding: 30px;
    text-align: justify;
    max-width: 519px;    
}

#footer {
    margin: 20px;
    padding: 30px;
    background: white;
}
