/* paper effet stolen from http://beemuse.com/paper */

.paper
{
  	position:relative;       
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), 0px 0px 40px rgba(0, 0, 0, 0.4) inset;
}

.paper:before, .paper:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.paper:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

/* end of effect */

body {
    font-family: 'Forum', cursive;
    background: url('splendide-azur.jpg');
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

code {
    font-size: 0.8em;
}

#header {
    max-width: 600px;
    margin: 20px;
    padding: 30px;

    background: white;

    text-align: center;
}

.main {
    background: white;
    max-width: 600px;
    margin: 20px;
    padding: 30px;
    text-align: justify;
}

#main p {
}

#footer {
    margin: 20px;
    padding: 30px;
    max-width: 600px;
    background: white;
    opacity: 0.3;

    transition: opacity 0.5s ease-in-out;
}

#footer:hover {
    opacity: 1;
}